* {
  margin: 0;
  padding: 0;
}
:root {
  --c1: var(--color-main);
  --cl: var(--color-light);
  --cd: var(--color-dark);

  /* colores */
  --color-main: tan;
  --color-secundary: coral;

  --color-light: white;
  --color-dark: black;

  /* font*/
  --ff: sans-serif;
  --ff2: monospace;

  /* size*/
  --mxw: 1260px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  padding: 20px;
  background: linear-gradient(var(--c1), var(--cl));
  min-height: 100dvh;
}

body {
  max-width: var(--mxw);
  margin: 0 auto;
  background: var(--cl);
  padding: 20px;
  border-radius: 10px;
}

a {
  color: var(--c1);
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

img {
  max-width: 100%;
}

header {
  margin-bottom: 20px;
}
footer {
  margin-top: 30px;
}


/* DEBUG */
.debug span {
  content: "DEBUG MODE ON";
  display: block;
  background: var(--c1);
  position: absolute;
  padding: 4px 8px;
  top: -20px;
  left:0px;
  border-radius: 8px 8px 0 0;
  text-transform:uppercase;
  letter-spacing:1px;
}

.debug {
  font-family: monospace;
  font-size: 10px;

  color: var(--c2);
  padding: 6px 6px 10px 30px;;
  
  outline: var(--c2) 1px solid;
  border-radius: 0 0px 6px 6px;

  border-top:var(--c1) solid 3px;
  margin: 30px 0;

  box-shadow: inset 2px 2px 8px #00000044;

  position: relative;
}

.galeria {
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}

.galeria li {
  flex: 1 1 0;
  min-width: 190px;
  outline: solid #eee 2px;
  padding: 8px;
  border-radius: 8px;
}


.btn,
input[type="submit"]{
  background-color:var(--c1);
  padding:6px 18px 6px 12px;
  text-align:center;
  display:inline-block;
  font-size:0.86em;
  color:white;
  border-radius:20px;
  margin:6px 0;
  border:none;
  cursor:pointer;
  outline: solid 0px var(--c1);
  transition: .4s;
}

.btn:hover,
input[type="submit"]:hover{
  color:var(--c1);
  background:#000;
  outline: solid 2px var(--c1);
  outline-offset:3px;
}