/* style 2 */
html{
    background: #0f172a;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 30px;
}

body{
    background: #020617;
    border-radius:8px;
    padding: 24px;
    max-width: 460px;
    margin:0 auto;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,.4);
}

h1, a{
    text-decoration: none;
    color: #38bdf8;
}
