* {
  margin: 0;
}

body {
  padding: 20px;
}

#paseDiapos {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  background: #EEE;
  scroll-snap-type: x mandatory;
}

#paseDiapos ul {
  padding-left: 0;
  list-style: none;
  display: flex;
}

#paseDiapos ul li {
  scroll-snap-align: start;
}

#paseDiapos ul li p {
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
}

#paseDiapos {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

#paseDiapos::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}