/* Plantilla para usar un Style.css genérico*/
*{
  margin:0; padding:0;
  box-sizing:border-box;
}

:root{
  --c1:coral;
  --c2:black:

  --c:var(--c1);
}

html{
  font-family:sans-serif;
  max-width:560px;
  margin: auto;
	
  background-color:coral;
  padding:12px;
  min-height:96dvh;
}

body{
  background-color:white;
  padding:20px;
  border-radius:20px;
}

h1, h2, h3, h4, h5, h6{
  color:var(--c1);
}

img{
	max-width:100%;
}

nav, ul.lista, ul.galeria, ul.cards, .flex{
  list-style:none;
  padding-left:0;
  
  display:flex;
  gap:4px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;

  li{
    flex:1 1 0;
  }

} /* flex */


/***Grid***/
.grid{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


/*** Buttons ***/
button, .btn{
  background:var(--c1);
	display:inline-block;
  text-align:center;
  border-radius:20px;
  padding:8px 26px;
  border:var(--c1) 2px solid;
	margin:8px
}

button:hover, .btn:hover{
  background:var(--c2);
  color:var(--c1);
}



/*** Galería ***/

#galeria img{
	transition:.5s;
	filter:grayscale(1);
}

#galeria img:hover{
	scale:1.2;
	z-index:2;
	filter:grayscale(0);
}


