* {
  margin: 0;
  padding: 0;
}
:root {
  --c1: var(--color-main);
  --cl: var(--color-light);
  --cd: var(--color-dark);


  /* colores */
  --color-main:tan;
  --color-secundary:coral;
  
  --color-light:white;
  --color-dark:black;

  /* font*/
  --ff: sans-serif;
  --ff2: monospace;
  
  /* size*/
  --mxw: 450px;
}

html {
  font-family: sans-serif;
  padding: 20px;
  background: linear-gradient(var(--c1), var(--cl));
  min-height: 100dvh;
}

body {
  max-width: var(--mxw);
  margin: 0 auto;
  background: var(--cl);
  padding: 20px;
  border-radius: 10px;
}

a{ color:var(--c1); text-decoration:none}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

img{
  max-width: 100%;
}

.debug {
  font-family: monospace;
  color: var(--c2);
  padding: 6px;
  outline: var(--c2) 1px solid;
  border-radius: 6px;
  border-left: var(--c2) 10px solid;
  margin: 20px 0;
}
