/*style 1*/
html{
    background: coral;
    font-family: sans-serif;
    padding: 30px;
}

body{
    background: white;
    border-radius:20px;
    padding: 20px;
    max-width: 460px;
    margin:0 auto;
    text-align: center;
}

h1, a{
    text-decoration: none;
    color:coral;
}

