/* style.css */

:root{
    --c1:coral;  			/* main color			*/
    --ff:sans-serif;	/* main font			*/
    --bdrs:20px;			/* border-radius	*/
  	--mxw:960px;			/* max-width			*/
}

html{
    font-family: var(--ff);
}

body{
    padding: 20px;
    max-width:var(--mxw);
    margin:10px auto;
}

ul{
    list-style: none;
    padding: 0;;

    display: flex;
    flex-wrap: wrap;
    gap:6px;
    justify-content: space-between;
}
li{
    flex: 1 1 0;
    outline:1px coral solid;
    border-radius: calc(var(--bdrs)/2);
    padding: 20px;
}


a{
    text-decoration: none;
    color:var(--c1);
}


